name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: '3.9', python: '3.9', tox: py39 }
          - { name: '3.10', python: '3.10', tox: py310 }
          - { name: '3.11', python: '3.11', tox: py311 }
          - { name: '3.12', python: '3.12', tox: py312 }
          - { name: '3.13', python: '3.13', tox: py313 }
          - { name: Style, python: '3.13', tox: style }

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install tox
        run: uv pip install --system tox

      - name: Run tests
        run: tox -e ${{ matrix.tox }}
